.abcd{
    margin-left:40px;
}

.slide-container{
    display:flex;
    align-items: center;
    justify-content: center;

}
// .images-wrap{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: red;
// }